@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

#primary{
  background-color: #4fbf8b;
}

#primary:hover{
  background-color: #44ae7c;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}